.hold-transition.login-page, .login-box-body, .register-box-body { background: #683a6f !important; }
.login-box-body, .register-box-body {border: 1px solid #7d4786; border-radius: 20px; background: #fff !important;}
.login-box-body .form-control {
    display: block;
    width: 100%;
    height: 54px;
    padding: 4px 25px 5px 50px !important;
    font-size: 22px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #673a6e;
    border-radius: 35px !important;
}
* { outline: none !important; }
.login-box-body .form-control-feedback {
	position: absolute;
	top: 0;
	right: auto;
	z-index: 2;
	display: block;
	width: 34px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	pointer-events: none;
	left: 10px;
	font-size: 21px;
	color: #683a6f !important;
}
.login-box, .register-box {
    width: 470px;
    margin: 7% auto;
}
.btn.btn-primary { background: #bfd625; color: #46244b; border: 1px solid #9cb10d; border-radius: 50px; padding: 7px 20px; }
.login-box-body .btn.btn-primary { font-size: 22px; }
.login-box-msg { color: #673a6e; }
.skin-blue .main-header .navbar {
    background-color: #683a6f !important;
}
.skin-blue .main-header .logo {
    background-color: #bfd625 !important;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #683a6f !important;
}
.skin-blue .sidebar a {
    color: #fff !important;
}

.sidebar-menu li a span.pull-right-container { position: absolute; right: 5px; top: 15px; }
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #fff !important;
    background: #5a2c62 !important;
    border-left-color: #bfd625 !important;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #603268 !important;
}
.skin-blue .sidebar-menu > li.header {
    color: #4b646f;
    background: #bfd625 !important;
}
.filter {
    padding: 0 0 10px 0;
    text-align: right;
    margin-top: 15px;
}
.blue-bg {
    background-color: #c1d72f;
    border-color: #c1d72f;
    color: #683a6f;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #683a6f;
    border-color: #683a6f;
}
.skin-blue .main-header .navbar .nav > li > a {

    color: #fff;
    display: inline-block;
    float: right;
    padding: 13px 10px;

}
.skin-blue .main-header li.user-header {
    background-color: #bfd625 !important;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    color: rgb(104, 58, 111) !important;
}
.btn.btn-white {
	background: #683a6f;
color: #fff;
border-radius: 50px;
}
.tableIcon  {
	width: 26px;
    height: 26px;
    background: #683a6f;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    padding: 3px;
}
.tableIcon:hover { background: #bfd625; color: #683a6f; }
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f7f1f7;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddcbe0;
}
 .content-wrapper, .right-side {
     background-color: #f7f3f8 !important;
 }
 .box.box-primary {
    border-top-color: #bfd625 !important;
}
label.error, span.form-error { color: #f10;font-weight: normal; }
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #9941a7 !important;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}
.padd0 { padding: 0px !important;}
.datePicIcon:before {
        position: absolute;
    left: 23px;
    top: 7px;
    font-family: 'Glyphicons Halflings';
    content: "\e109";
    color: #673a6e;

}
.datePicIcon .date-range-filter { padding-left: 25px; }
.dateRangeMidTO {
    width: 100%;
    background: #673a6e;
    display: inline-block;
    min-height: 33px;
    color: #fff;
    line-height: 30px;
    margin: 0 0;
}
.main-header .logo .logo-lg, .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    color: #673a6e;
}
.btn-rounded { border-radius: 40px; padding: 7px 20px; }
.modal-header button.close {
    float: right;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
}
.modal-header {
    background: #673a6e;
    color: #fff;
}
.sa-confirm-button-container .confirm { border-radius: 40px; color: #673a6e !important; background-color: #bfd625 !important;}
.sweet-alert .sa-icon.sa-success .sa-placeholder {
    border: 4px solid rgb(102, 58, 109) !important;
}
.sweet-alert .sa-icon.sa-success .sa-line {
    background-color: #663a6d !important;
}
h3.box-title {
    font-weight: 600;
    font-size: 18px;
}
.tableInnerFilter { width: 100%; display: inline-block; border: 1px solid #dedede; padding: 10px 0 15px 0px; }
.active .fa-angle-left{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg);
}
.navbar-nav>.user-menu>.dropdown-menu {

    width: 100px !important;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 45px;
    line-height: 60px;
    background: rgba(0,0,0,0.2);
    padding: 20px 0;
}
.info-box-icon > img {
    width: 110px;
    max-width: 100%;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #bfd625 !important;
}
.info-box {
    position: relative;
    display: inline-block;
    min-height: 145px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(99, 53, 106, 0.11);;
    border-radius: 2px;
    margin-bottom: 15px;
    border: 4px solid #fff;
}
.info-box-content {
    padding: 5px;
    margin-left: 0px;
}
.info-box-number {
    font-size: 48px;
    color: #63356a;
    font-family: 'Fira Sans', sans-serif;
}
.progress-description, .info-box-text {

    font-size: 22px;
    color: #63356a;
    text-transform: none;
    font-family: 'Fira Sans', sans-serif;
}
.dropdown-menu > li > a {
    display: block;
    padding: 8px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-align: left;
    border: none;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.bgDiv-infoBox {
    position: absolute;
background: #63356a;
width: calc(100% - 30px);
height: calc(100% - 20px);
z-index: 0;
transform: rotate(5deg);
}
.dropdown.user.user-menu a i { font-size: 20px; }
.headings {background: #683a6f;}
.headings th { color: #fff; padding:8px 10px; padding-right: 30px; }
@media (min-width: 991px){
    .modal-dialog {
        margin: 15% auto;
    }
}
@media (min-width: 1766px) {
    .dashboardOuter .col-md-3.col-sm-6 {
        padding:0 50px;
    }
    .bgDiv-infoBox {
    position: absolute;
background: #63356a;
width: calc(100% - 100px);
height: calc(100% - 20px);
z-index: 0;
transform: rotate(5deg);
}

}
@media (max-width: 1566px) {
   .info-box-icon {
    text-align: center;
    font-size: 45px;
    line-height: 40px;
}

}